python-dotenv==1.0.1
colorama==0.4.6
bs4==0.0.2
tqdm==4.67.1

langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-text-splitters==0.3.4
langchain-ollama
psycopg2-binary 
sentence-transformers

edge-tts
openai-whisper 
sentence-transformers 
sounddevice 
scipy
